*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  height: 100vh; 
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  padding: 133px 30px;
  justify-content: space-between;
  flex-direction: row;
  align-items: end;
  min-width: 1140px;
  gap: 30px;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  place-items: start;
  width: 711px;
  height: 54px;
  gap: 40px;
}

.content__list {
  height: 298px;
  overflow-y: scroll;
  position: relative;
}

::-webkit-scrollbar {
  width: 0.5em;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  height: 100%;
  width: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  width: 394px;
  padding: 2px;
  align-items: flex-start;
  object-fit: cover;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}

.content__video-card-description-container {
  display: grid;
  flex-grow: 1;
  gap: 6px;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

input {
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  justify-content: space-between;
  padding-bottom: 5px;
}

.search-form__label-text {
  display: block;
  appearance: none;
  cursor: pointer;
}

.search-form__checkbox-list:hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #fff;
  gap: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  position: relative;
}

.button {
  background-color: transparent;
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  margin-top: 22px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.search-form__submit-button {
  border: 1px solid #fff;
}

.more-button {
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

input:focus {
  outline: none;
}

label:has(:focus-visible) {
  outline: none;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background: #fff;
  display: inline-block;
  width: 15px;
  height: 15px;
  left: 1.2px;
  top: 1.2px;
  position: absolute;
}

.button:focus {
  outline: none;
}

.button:active {
  border: 1px solid #fff;
  background: #545050;
}

.button:focus-visible {
  border: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}
